{% extends widget.get_base_template %}

{% load i18n %}
{% load thumbnail %}
{% load leonardo_tags feincms_tags %}

{% block content %}

<section>
    <div>
        <ol class="row-fluid">
			{% for object in widget.get_news %}
				<div class="object-text">
					<h3><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></h3>
					<div class="object-meta"><i>{{ object.publication_date|date:"j. m. Y" }}</i></div>
					{% feincms_render_region object "preview" request %}
				</div>
				<a class="button" href="{{ object.get_absolute_url }}"><span><span>{% trans "Detail" %}</span></span></a>
            {% endfor %}
        </ol>
    </div>
</section>
{% endblock %}
