{% extends "articles/base.html" %}

{% load leonardo_tags i18n %}

{% block article-content %}

    {% feincms_object_tools 'article' %}

    {% for article in object_list %} 
    <div class="article short">
        <div class="preview">
            <h3><a href="{{ article.get_absolute_url }}">{{ article }}</a></h3>
            {% feincms_render_region article 'preview' request %}
            {% render_region_tools article 'preview' request %}
        </div>
    </div>
    {% endfor %}

    {% if object_list|length >= 5 %}
    {% feincms_object_tools 'article' %}
    {% endif %}

{% endblock %}